<template>
    <div>
        <!-- <input type="text" v-model="counter"> -->
        <button @click="addValue">Add</button>
        
    </div>
</template>

<script>
export default {
    data() {
        return {
            counter: +1
        }
    },
    methods: {
        addValue() {
            this.counter += 1;
            this.$emit('updateValue', this.counter)
        }
    }
}
</script>