<template>
    <div>
        <ul class="nav nav-tabs nav-justified">
      <li class="nav-item">
        <a class="nav-link" @click.prevent="setActive('home')" :class="{ active: isActive('home') }" href="#home">TO DO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" @click.prevent="setActive('profile')" :class="{ active: isActive('profile') }" href="#profile">DEVELOPING</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" @click.prevent="setActive('contact')" :class="{ active: isActive('contact') }" href="#contact">DONE</a>
      </li>
    </ul>
    <div class="tab-content py-3" id="myTabContent">
      <div class="tab-pane fade" :class="{ 'active show': isActive('home') }" id="home">Home content</div>
      <div class="tab-pane fade" :class="{ 'active show': isActive('profile') }" id="profile">Profile content</div>
      <div class="tab-pane fade" :class="{ 'active show': isActive('contact') }" id="contact">Contact content</div>
    </div>
    </div>
</template>

<script>
export default {   
  name: 'TabContent',
    data() {
       return {
           activeItem: 'home'
       }
   },
    
         methods: {
             isActive (menuItem) {
                 return this.activeItem  === menuItem
             },
             setActive (menuItem) {
                 this.activeItem = menuItem
             }, 
},
}
</script>


<style scoped>
.nav-link.active {
  border-bottom: 2px solid #448aff;
}
.md-theme-default a:not(.md-button):hover {
  text-decoration: none;
  color: #448aff
}
</style>